body{
    font-family: Arial, Helvetica, sans-serif;
}
#img{
 padding:15px 0px;
 border-bottom: 1px solid rgba(128, 128, 128, 0.514);
 cursor: pointer;
 /* text-decoration: underline; */

}
/* ===========signup=================== */
#loginmain{
    width: 33%;
    margin: auto;
    margin-top: 100px;
}
#sign{
    width:100%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}
#sign>h1{
    font-size: 24px;
}
input{
    display: block;
    border: 1px solid rgba(128, 128, 128, 0.589);
    height:43px;
    width:95%;
    margin: auto;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 20px;
    outline: transparent;
    padding:0px 5%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
}
#button{
    height:50px;
    width:100%;
    margin: auto;
    margin-top: 25px;
    border-radius: 30px;
    border: transparent;
    font-size: 18px;
    background-color: black;
    color: white;
    cursor: pointer;
}
::-webkit-input-placeholder{
    font-size: 15px;
}
 /* -----------sign up end ------------------ */
 
div>hr{
    width: 90%;
}
p{
    font-size: 17px;
    margin: 40px 0px;
}
#media{
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2,49%);
    grid-gap: 20px 2%;
    color:white;
    border:transparent;
    border-radius:5px;
    font-size: 18px;
}

 #media>a>div{
  display:flex;
  color:white
} 
#facebook,#facebook+img{
    background-color:#3f51b5;
}
#google,#google+img{
    background-color:#ee3d4a;
}
#linked,#linked+img{
    background-color: #0291e0;
}
#amazon,#amazon+img{
    background-color:#ff9900;
}
a{
    text-decoration: none;
}
#fb,#goo,#link,#ama{
    margin: -8px;
    height: 32px;
    border: 0  5px 5px 0;
    border-left: 1px solid rgba(128, 128, 128, 0.637);
}
#media>a{
    margin-bottom: 10px;
    margin-right: 10px;
}
#media>a>div{
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 5px; 
    font-size: 13px;
}
#media>a>div>div{
    margin: 10px;

}
#media>a{
    margin-bottom: 10px;
}
#policy{
    width:100%;
    margin: auto;
    text-align: center;
}
#button,a:hover{
    cursor: pointer;
}
#policy>h4>a{
    color:blue;
}

@media only screen and (min-width:376px)and(max-width:768px){
  #media{
  width:90%;
  margin: auto;
  text-align: center;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  color:white;
 
}
#media>a>div{
  height: 50px;
  width:100%;
  display: flex;
  justify-content: space-between;
  border-radius: 5px; 
}
  #sign{
      width:100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }

  input{
  display: block;
  /* height:50px; */
  width:90%;
  margin: auto;
  margin-top: 20px;
  border-radius: 30px;
  font-size: 20px;
 
}
#policy{
  width:90%;
  margin: auto;
  text-align: center;
}
}
@media only screen and (min-width:767px) and (max-width:1028px){
  #loginmain{
      width: 50%;
  }
}
@media only screen and (min-width:0px) and (max-width:767px){
  #loginmain{
      width: 95%;
  }
}
@media only screen and (min-width:0px) and (max-width:375px){
  
  
  #media{
  width:100%;
  margin: auto;
  text-align: center;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(1,90%);
  grid-gap: 20px 10%;
  color:white;
 
}
#media>a>div{
  height: 35px;
  width:100%;
  display: flex;
  justify-content: space-between;
  border-radius: 5px; 
}
  #sign{
      width:100%;
      display: flex;
      flex-wrap: wrap;
     justify-content: center;
  }

  input{
  display: block;
  /* height:50px; */
  width:80%;
  margin: auto;
  margin-top: 20px;
  border-radius: 30px;
  font-size: 20px;
 
}
#policy{
  width:90%;
  margin: auto;
  text-align: center;

}

}