<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/60c93948be.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="shortcut icon"
      href="//cdn.shopify.com/s/files/1/0015/2879/1092/files/fav_32x32_f3e96a89-85b4-4e5e-a7ff-90579a2ccc59_32x32.png?v=1583832747"
      type="image/png"
    />
    <title>
      Eyeglass Frames, Computer Glasses, Contact Lenses, Sunglasses Online | –
      Specsmakers Opticians PVT. LTD.
    </title>
    
    <link rel="stylesheet" href="../components/navbar.css" />
    <link rel="stylesheet" href="../components/footbar.css" />
    <link rel="stylesheet" href="../admin/adminpage.css" />
  
  </head>
  <body>
    <div id="navbar"></div>
    <div id="adminpage">
        <h1>ADMIN PAGE</h1>
        <form action="" id="product">
            <label for="">Product Name </label>
            <input type="text" id="productname" placeholder="Product Name">
            <label for="">Product price </label>
            <input type="text" id="productprice" placeholder="Product Price">
            <label for="">Product URL </label>
            <input type="url" id="producturl" placeholder="Product Url">
            <input type="submit" id="submit">
        </form>
    </div>
  
    <div id="footer"></div>
  </body>
</html>
<script type="module">
  import navbar from "../components/navbar.js";
  let nav = document.getElementById("navbar");
  nav.innerHTML = navbar();
  //   ------------------------------------------------
  import footbar from "../components/footbar.js";
  let footer = document.getElementById("footer");
  footer.innerHTML = footbar();
</script>
<script src="../components/navbar-2.js"></script>
